doctype html
html(lang='en')
 head
   title Paylist of Colours
   link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
   script(type='text/javascript' src='/assets/handlerPlaylists.js')
   link(href="/assets/PlaylistColours.css" rel="stylesheet"   type="text/css")
   link(href="https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:wght@300| Karla:wght@700 |Assistant:wght@300| PT+Sans:wght@700 | Roboto:wght@500;900 " rel="stylesheet")
 body
   include nav.pug
   .row.justify-content-center.no-gutters 
        div.container.jumbotron.justify-content-center
          div.row
            div.col-sm-4
              h5 #{name}'s Playlists
              ul.list-unstyled.components#allUserInfo
                each playlist in playListArray
                  - var playlistName = playlist.name
                  - var playListid  = playlist.id
                  li
                    button(class="playlistList btn active playlistNameButton" id=playListid data-toggle="dropdown collapse" aria-pressed="true" aria-expanded="false") #{playlistName}
                    button.btn.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown')    
                    div.dropdown-menu
                      each song in playlist.songs
                            - var songName = song.name
                            - var songId  = song.id
                              a.songList.dropdown-item(href='#' id=songId) #{songName}                 
            div.col-sm-8        
                div#info.no-gutters
                  .row.no-gutters
                    .col-md-4
                      .card.no-gutters
                        img(src="https://pbs.twimg.com/profile_images/560739405543907328/kOWO3V15.png").card-img-top#cover 
                        h6.card-title#name Playlist Colour Palette Generator
                        p.card-body#description For Spotify Users
                    .col-md-8
                      .textInfo
                        h5 Your Own Custom Playlist Colour Palette 
                        .algorithmInfo Each playlist has its own colour palette based on the features of the songs it contains. Your colour palette is 
                        .algorithmInfo Your colour palette is generated using 
                         strong 4 factors: 
                         | how 
                         strong angry/sad 
                         | the songs of the playlist sounds, 
                         strong the energy, danceability 
                         | and finally the 
                         strong mode 
                         | of the song major/minor
                        .algorithmInfo
                          | Click on a playlist from the left corner to generate a colour palette (using this cool 
                          a.link(href='http://colormind.io/api-access/' target="_blank")  API
                          | )
                        .algorithmInfo Hover over the colours to see why it was generatedand click on each song of the playlist to see how it changes

                div#palette
                    div.row.span4.justify-content-center
                        .col-md-2.box#colour1.justify-content-center
                           #Colour1Info.colourInfo
                        .col-md-2.box#colour2.justify-content-center
                            #Colour2Info.colourInfo
                        .col-md-2.box#colour3.justify-content-center
                           #Colour3Info.colourInfo
                        .col-md-2.box#colour4.justify-content-center
                          #Colour4Info.colourInfo
                        .col-md-2.box#colour5.justify-content-center
                          #Colour5Info.colourInfo
                        
                            
                        
                  
                    
              
